*{
    margin: 0;
    padding: 0;
}

html{
    font-family:Poppins;
    height: 100%;
}

body{
    display:flex;
    justify-content: center;
   align-items: center;
    height: 100vh;
}
.container{
    padding: 20px;
    width: 600px;
    height: 200px;
    background-color: rgb(25, 151, 124);
    color: rgb(255, 255, 255);
    font-size:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;

}
#btn1{
    width: 100px;
    height: 20px;
    background-color:rgb(28, 201, 57);
    color:#ffffff;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-weight:400;
    cursor:pointer;
}
#btn2{
    width: 100px;
    height: 20px;
    background-color:rgb(28, 201, 57);
    color:#ffffff;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-weight:400;
    cursor:pointer;
}
#ptg{
    margin-top:10px;
}