*{
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    height: 30%;
    background-color:#1bc545;
    border-radius: 10px;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(139, 136, 136);
    height: 40px;
    width: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
