*{
    margin: 0;
    padding:0;
}

body{
    height:100vh;
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color:	rgb(5, 105, 105);
    width: 500px;
    height:300px;
    color:white;
    border-radius:10px;
    box-shadow: 5px 10px 20px rgba(231, 159, 159, 0.5);
 flex-direction: column;
 text-align:center;
 align-items:center;
 
    
   
}
h1{
    margin-top: 20px;
    font-size: 20px;

   
}

#btn{
    margin: 10px;
    width: 130px;
    height: 30px;
    background-color: rgb(241, 93, 25);
    font-weight: 700;
    color: white;
    border:none;
    border-radius: 5px; 
    cursor: pointer;
     

}


.p{
    margin-top:20px; 

}
